.a {
  height: 100vh;
  display: flex;
  align-items: center;
}

.a-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.a-right {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.a-card.bg {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #333;
}

.a-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.a-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.a-award-img {
  width: 120px;
  height: 120px;
  border-radius: 20px;
}

.a-title {
  font-weight: 400;
  font-size: 2.2rem;
}

.a-title span{
  color: #019aff;
  font-weight: medium;
  
}

.a-sub {
  margin: 20px 0px;
  width: 68%;
  margin-bottom: 10%;
  line-height: 2;
  font-size: 1.2rem;
}

.a-desc{
    font-weight: 300;
    
}

.a-desc h3{
  font-size: 2rem;
  font-weight: normal;
}

.a-container{
  margin: 3% 0;
}

.a-award{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a-award-texts{
    width: 70%;
}

.a-award-title{
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}

.a-container{
  width: 100%;
  display: flex; 
}

.a-container-item{
  width: 30%;
  font-size: 1.4rems;
  font-weight: 700;
  color: #019aff;
  
}

.arrow{
  margin-right: 2rem;
 
}



.container{
  display: flex;
  margin: 4% 0;
  
}

.container-item{
  width: 33%;
  font-size: 1.4rems;
  font-weight: 700;
  color: #019aff;
  
}



@media screen and (max-width:480px) {
    .a{
      flex-direction: column;
      text-align: center;
      margin-top: 50px;
    }

    .a-left {
      width: 100%;
    }

    .a-card {
      height: 30vh;
    }

    .a-card.bg, .a-award {
      display: none;
    }

    .a-right{
      padding: 20px;
    }

    .a-title, .a-sub,.a-desc{
      text-align: center;
    }

    .a-sub{
      width: 100%;
    }

    
    
}